<app-navbar></app-navbar>

<div class="container">
    <div class="card">
        <h2 class="header">Cadastro de Produtos</h2>

        <br>

        <form [formGroup]="resourceForm">
            <app-text-field [parentForm]="resourceForm" fieldName="name" type="text" name="name" label="Nome do Produto"></app-text-field>

            <app-text-field [parentForm]="resourceForm" fieldName="model" type="text" name="model" label="Modelo"></app-text-field>

            <app-text-field [parentForm]="resourceForm" fieldName="price" type="text" name="price" label="Preço"></app-text-field>

            <app-text-field [parentForm]="resourceForm" fieldName="picture" type="text" name="picture" label="Imagem" icon="assets/icons/camera.svg"></app-text-field>

            <div class="flex end">
                <button class="btn">Cancelar</button>
                <button class="btn ml-1" (click)="submitForm()">Salvar</button>
            </div>
        </form>
    </div>
</div>
