.card {
  padding: 10px;
  width: 230px;
  height: 240px;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  &:hover {
    transition: 0.5s;
    transform: translateY(-5px);
    box-shadow: 0 2px 4px rgba(160, 160, 160, 0.705);  }
}

img {
  width: 100%;
  height: 75%;
  object-fit: contain;
}

.price {
  color: #a0a0a0;
}
