<app-navbar></app-navbar>

<div class="container">
    <div class="main">
        <div class="filter-content">

            <div class="filter-item">
                <span>Óculos de sol</span>
            </div>

            <div class="filter-item">
                <span>Receituários</span>
            </div>

            <div class="filter-item">
                Aviador
            </div>

            <div class="filter-item">
                <span>Redondos</span>
            </div>

            <div class="filter-item">
                <span>Clip On</span>
            </div>
        </div>

        <div class="product-content">

            <div *ngFor="let product of resources">
                <app-product-card [cardItems]="product"></app-product-card>
            </div>

            <!-- <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card> -->
        </div>
    </div>
</div>




